* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Variables */

:root {
   --white: white;
   --black: black;
   --head-subhead: lightblue;
   --body: rgb(114, 3, 71);
   --fivepx: 5px;
   --tenpx: 10px;
   --font30px: 30px;
   --figure-border: 2px ridge lightblue;
}

/* || General Styles */
/* body*/
body {
    background-color: var(--white);
    color: var(--body);
    font-family: fantasy;
    display: flex;
    flex-direction: column;
}

/* main content*/
main {
    font-weight: lighter;
    font-size: 18px;
}

/* headings*/
h1 {
    font-size: 60px;
}

h2 {
    font-size: var(--font30px);
    text-align: right;
    padding-right: var(--fivepx);
    width: 225px;
}

/* list*/
ul {
    list-style-type: none;
}

/* || Header Section Styles */
/* header*/
header {
    background-color: var(--black);
    font-size: var(--font30px);
    font-weight: bold;
    color: var(--head-subhead);
    padding: var(--fivepx);
    height: 75px;
}

/* header nav*/
header li a {
    color: var(--head-subhead-font);
    display: inline;
    float: right;
    position: relative;
    bottom: 75px;
    padding: var(--tenpx);
    margin: var(--tenpx);
}

/* subheader*/
.subheader { 
    background-image: url("../images/blue-marble-paint-background.jpg");
    background-size: cover;
    border: 1px solid var(--white);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* subheader image*/
.subheader img {
    width: 200px;
    height: 250px;
    border: 1px dashed var(--white);
    margin: var(--fivepx);
}

/* subheader subtitle*/
.subheader p {
    font-size: var(--font30px);
    color: var(--black);
    margin-top: 225px;
    padding-right: var(--fivepx);
}

/* || Section Styles */
/* sections*/
.section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: var(--fivepx);
    padding: var(--fivepx);
}

/* sections headers */
.header-container {
    border-right: 5px solid darkslateblue;
    margin-left: var(--tenpx); 
    background-color: var(--white);
}

/* Section 1 About me text */
.me p {
    margin: var(--tenpx);
    text-align: justify;
}

/* Section 2 container */
.project {
    margin: var(--tenpx);
}

/* Section 2 titles*/
.title {
    position: relative;
    border: 1px solid var(--white);
    background-image: url(../images/blue-marble-paint-background.jpg);
    width: 200px;
    height: 75px;
    top: -100%;
    left: 0; 
    font-size: 25px;
    color: var(--black);
    font-weight: bolder;
    text-align: start;
}

/* Section 2 subsection 1 container */
.fanpage {
    display: flex;
    justify-content: right;
}
/* Section 2 subsection 1 image */
.fanpage-image { 
    border: var(--figure-border);
    width: 100%;
    height: 100%;
}

/* Section 2 subsection 2 container */
.two {
    display: flex;
    justify-content: right;
}

/* Section 2 subsection 2 content */
.secondary {
    width:50%;
}

/* Section 2 subsection 2 image */
.secondary-image {
    border: var(--figure-border);
    width: 100%;
    height: 100%;
}

/* footer nav*/
.contactlist {
    display: flex;
}

/* footer nav list*/
footer ul li {
    padding: var(--tenpx);
    font-size: 20px;
}

/* link hover effects*/
a:hover {
    color: palevioletred;
    opacity: 50%;
  }

/* responsive design*/
@media screen and (min-width: 768px) {
    .section {
      flex: 0 0 85%;
      max-width: 85%;
    }

}