* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Variables */

:root {
   --white: white;
   --black: black;
   --head-subhead: lightblue;
   --body: rgb(114, 3, 71);
   --fivepx: 5px;
   --tenpx: 10px;
   --font30px: 30px;
   --figure-border: 2px ridge lightblue;

}

/* || General Styles */
/* body*/

body {
    background-color: var(--white);
    color: var(--body);
    font-family: fantasy;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--black);
    font-size: var(--font30px);
    font-weight: bold;
    color: var(--head-subhead);
    padding: var(--fivepx);
    height: 75px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: var(--font30px);
    text-align: right;
    padding-right: var(--fivepx);
    width: 225px;
}

header li a {
    color: var(--head-subhead-font);
    display: inline;
    float: right;
    position: relative;
    bottom: 75px;
    padding: var(--tenpx);
    margin: var(--tenpx);
}

ul {
    list-style-type: none;
}

.subheader { 
    background-image: url("../images/blue-marble-paint-background.jpg");
    background-size: cover;
    border: 1px solid var(--white);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subheader img {
    width: 200px;
    height: 250px;
    border: 1px dashed var(--white);
    margin: 5px;
}

.subheader p {
    font-size: 30px;
    color: black;
    margin-top: 225px;
    padding-right: var(--fivepx);
}

main {
    font-weight: lighter;
    font-size: 18px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 5px;
    padding: 5px;
}

.header-container {
    border-right: 5px solid darkslateblue;
    margin-left:10px; 
    background-color: white;
}

section article p {
    margin: var(--tenpx);
    text-align: justify;
}

.project {
    margin: var(--tenpx);
}

.fanpage-image { 
    border: var(--figure-border);
    width: 100%;
    height: 100%;
}
.fanpage {
    display: flex;
    justify-content: right;
}

.two {
    display: flex;
    justify-content: right;
}

.scratch {
    width:50%;
}
.scratch-image {
    border: var(--figure-border);
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    border: 1px solid var(--white);
    background-image: url(../images/blue-marble-paint-background.jpg);
    width: 200px;
    height: 75px;
    top: -100%;
    left: 0; 
    font-size: 25px;
    color: var(--black);
    font-weight: bolder;
    text-align: start;

}

.blank {
    width: 50%;
}

.blank-image {
    border: var(--figure-border);
    width: 100%;
    height:100% 
}
.contactlist {
    display: flex;
}

footer ul li {
    padding: var(--tenpx);
    font-size: 20px;
}
  
a:hover {
    color: palevioletred;
    opacity: 50%;
  }

@media screen and (min-width: 768px) {
    .section {
      flex: 0 0 85%;
      max-width: 85%;
    }

}